<PageTitle>Evidence</PageTitle>
<h1>Evidence!</h1>
<div class="p-2 my-3  border">
    <label>Datum: <input type="date"/> </label>
    <label>Náklady: <input type="number" /> </label>
    <label>Výnosy: <input type="number" /> </label>
    <button>Přidat</button>
</div>
<div class="my-3 p-2 border">
    <button class="btn btn-info">Zobrazit vše</button>
    <button class="btn btn-info">Počet záznamů</button>
    <button class="btn btn-info">Statistiky</button>
</div>

<div class="my-3 p-2 border">
    <p></p>
</div>
@code {

}
